@model IEnumerable<DTODonations>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonableItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonableItemAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NGOUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonableItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonableItemAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGOUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
