@model IEnumerable<NGOAppMVC.DBModels.WarehouseAssets>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImportedVolunteerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExportedVolunteerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndigentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImportedVolunteerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExportedVolunteerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndigentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donation.DonationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
